<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>完善成网页IM实时聊天系统</title>
    <script th:src="@{/vue.min.js}"></script>
</head>
<body>
<div id="app">
    请输入您的昵称:<input type="text" v-model="username">
    <input type="button" value="连接" @click="connectWS"></input> <br>
    请填写要发送的内容:
    <input type="text" v-model="inputValue">
    <button @click="sendMsg">发送</button>
    <ul>
        <todo-item
                :content="item"
                :index="index"
                v-for="(item, index) in list"
                @delete="handleItemDelete">
        </todo-item>
    </ul>
</div>

<script type="text/javascript">
    //局部组件
    var TodoItem = {
        props: ['content', 'index'],//接收父组件传递的内容
        template: "<li @click='handleItemClick'>{{content}}</li>",
        methods: {
            handleItemClick: function () {
                this.$emit("delete", this.index);//向父组件传值
            }
        }
    }
    var app = new Vue({
        el: '#app',
        //注册局部组件,只能在#app内使用
        components: {
            TodoItem: TodoItem
        },
        data: {
            inputValue: '',
            list: [],
            username: '',
            ws: null
        },
        methods: {
            handleBtnClick: function () {
                if (this.inputValue == null || this.inputValue == '') {
                    alert('请输入内容');
                } else {
                    this.list.push(this.inputValue);
                    this.inputValue = '';
                }
            },
            //子组件触发事件
            handleItemDelete: function (index) {
                this.list.splice(index, 1);//从index开始删除1个元素
                //this.list = [];
            },
            connectWS: function () {
                if (this.username != null && this.username != "") {
                    if ('WebSocket' in window) {
                        this.ws = new WebSocket("ws://localhost:8080/socketServer/" + this.username);
                    }
                    else if ('MozWebSocket' in window) {
                        this.ws = new MozWebSocket("ws://localhost:8080/socketServer/" + this.username);
                    }
                    else {
                        alert("该浏览器不支持websocket");
                    }
                    this.ws.onmessage = this.onMsg;

                    this.ws.onclose = function (evt) {
                        alert("连接中断");
                    };

                    this.ws.onopen = function (evt) {
                        alert("连接成功");
                    };
                } else {
                    alert("请输入您的昵称");
                }
            },
            sendMsg: function () {
                if (this.inputValue == null || this.inputValue == '') {
                    alert('请输入要发送的内容');
                } else {
                    this.ws.send(this.inputValue);
                }
            },
            onMsg: function (evt) {
                if (evt.data == null || evt.data == '') {
                    alert('null');
                } else {
                    this.list.push(evt.data);
                }
            }
        }
    });
</script>
</body>
</html>